# Ignore all Markdown files
*.md
# But do not ignore README.md
!README.md

# Ignore all Word documents
*.docx

# Ignore temporary and virtual environment folders
tmp/
lib/
__pycache__/

# OS specific files
.DS_Store
Thumbs.db
*.tmp
~$*