# Ignore all Markdown files
*.md
# But do not ignore README.md
!README.md

# Ignore all TXT, ZIP, Word. and PDF documents
*.txt
*.zip
*.docx
*.pdf

# Ignore temporary and virtual environment folders
tmp/
lib/
__pycache__/

# OS specific files
.DS_Store
Thumbs.db
*.tmp
~$*
